main {
    margin: auto;
    width: 80%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("../images/day.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 460px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(233, 233, 233);
}

/*----Navbar-----*/

.nav-row {
    display: flex;
    width: 100%;
}

#navbar {
    background: #efefef;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
}

#site-name {
    font-size: 30px;
    color: rgb(56, 54, 54);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.large-nav-text {
    font-size: 20px;
    color: rgb(49, 49, 49);
    font-family: Helvetica, Arial, sans-serif;
}

#logo1 {
    width: 50px;
}

.filler {
    flex: 1;
}

/*---DropDown--*/

.dropdown-item {
    font-size: 15px;
    color: rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    padding-top: 7px;
    padding-bottom: 3px;
}

/*---SearchBar--*/

.form-control {
    font-size: 20;
}

/*---LOCATION--*/

.location {
    height: 120px;
    color: white;
}

.city {
    font-size: 46px;
    font-weight: bold;
    float: left;
    letter-spacing: -3px;
    text-shadow: rgb(33, 38, 43) 2px 3px 5px;
    width: 100%;
}

.country {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: rgb(33, 38, 43) 2px 3px 5px;
    width: 100%;
}

/*-----Tabs--------*/

.tabs .tab {
    float: left;
    color: #454545;
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin-right: 2px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #dce8ed;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs .tab:hover {
    background: orange;
}

.tabs .tab-active {
    background: #fff;
}


/*-------------CONTENT----------------*/

/* -------Tomorrow-------- */
table{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
    margin-bottom: 30px;
}

.td {
    width: 20%;
    background: rgba(255, 255, 255, 0.466);
    text-align: center;
    color: rgb(63, 62, 62);
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: solid 1.7px rgb(216, 216, 216);
    position: relative;
}

#current-weather-table {
    width: 100%;
}

table tr td .bigger-text {
    font-size: 25px;
}

table tr td .smaller-text {
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 0%;
    right: 0%;
}

#current-weather-table {
    background: #ffffff;
}

.icon-weather {
    width: 50px;
}

/* -------Tomorrow-------- */
.content-tomorrow{
    background: #ffffff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: rgb(63, 62, 62);
    border-bottom: solid 1.7px rgb(216,216, 216);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
    margin-bottom: 30px;
    min-height: 220px;  
}

.column{
    width: 25%;
    background: #ffffff;
    float: left;
    padding: 18px;
}

#middle{
    font-size: 100px;
    min-height: 180px;
    border-left: 2px solid grey;
    margin-top: 1.2%;
    margin-bottom: 1.5%;   
}

#right{
    width: 25%;
    background-color: #424242;
    color: white;
    min-height: 220px;
    text-align: right;
    padding-top: 3%;
    padding-right: 1%;

}

#last-right{
    width: 25%;
    background-color: #424242;
    color: white;
    min-height: 220px;
    text-align: left;
    padding-top: 3%;
    padding-left: 1%;
}

#tomorrow-icon{
    width: 70px;
}
