body{
    min-width: 770px;
}

main {
    margin: auto;
    width: 80%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(233, 233, 233);
}


/*----Navbar-----*/

.nav-row {
    display: flex;
    width: 100%;
}

#navbar {
    background: #efefef;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
}

#site-name {
    font-size: 30px;
    color: rgb(56, 54, 54);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.large-nav-text {
    font-size: 20px;
    color: rgb(49, 49, 49);
    font-family: Helvetica, Arial, sans-serif;
}

#logo1 {
    width: 50px;
}

.filler {
    flex: 1;
}

.search-bar{
    font-size: 18px;
}

/*---DropDown--*/

.dropdown-item {
    font-size: 15px;
    color: rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    padding-top: 7px;
    padding-bottom: 3px;
}


/*---SearchBar--*/

.form-control {
    font-size: 20;
}

/*---Autocomplete---*/
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


/*---LOCATION--*/

.location {
    height: 120px;
    color: white;
}

.city {
    font-size: 46px;
    font-weight: bold;
    float: left;
    letter-spacing: -3px;
    text-shadow: rgb(33, 38, 43) 2px 3px 5px;
    width: 100%;
}

.country {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: rgb(33, 38, 43) 2px 3px 5px;
    width: 100%;
}


/*-----Tabs--------*/

.tabs .tab {
    float: left;
    color: #454545;
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin-right: 2px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #dce8ed;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs .tab:hover {
    background: orange;
}

.tabs .tab-active {
    background: #fff;
}


/*------------- CONTENT ----------------*/

/* ------- Now -------- */

.content {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
    width:100%;
}

.content-box{
    margin-bottom: 30px;
    width:100%;
}

.inactive-content{
    display :none !important;
}
.active-content{
    display: block;
}

.td {
    width: 20%;
    background: rgba(255, 255, 255, 0.466);
    text-align: center;
    color: rgb(63, 62, 62);
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: solid 1.7px rgb(216, 216, 216);
    position: relative;
}

#current-weather-table {
    width: 100%;
}

table tr td .bigger-text {
    font-size: 25px;
}

table tr td .smaller-text {
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    left: 0%;
    right: 0%;
}

#current-weather-table {
    background: #ffffff;
}

.icon-weather {
    width: 50px;
}


/* ------- Tomorrow -------- */

.content-tomorrow {
    background: #ffffff;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: rgb(63, 62, 62);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267);
    margin-bottom: 30px;
    min-height: 220px;
}

clearfix:after {
    content: ' ';
    clear: both;
    display: block;
}

.column {
    width: 25%;
    background: #ffffff;
    float: left;
    padding: 18px;
}

#middle {
    min-height: 180px;
    border-left: solid 1.7px rgb(216, 216, 216);
    margin-top: 1.2%;
}

#av-degrees{
    font-size: 80px;
    color: rgb(112, 117, 124);
}

#right {
    width: 26%;
    background-color: #424242;
    color: white;
    min-height: 220px;
    text-align: right;
    padding-top: 3%;
    padding-right: 1%;
}

#day{
    font-size: 18px;
}

#date{
    font-size: 12px;
}

#last-right {
    width: 24%;
    background-color: #424242;
    color: white;
    min-height: 220px;
    text-align: left;
    padding-top: 3%;
    padding-left: 1%;
}

#tomorrow-icon {
    width: 70px;
}

#min-temp{
    color: #b1cad1;
}

#max-temp{
    color: #ff8835;
}

.line{
    display: inline-block;
}


/* ------- Five-Days -------- */

#content-five-days{
    background: #fff;
    list-style: none;
    height: 300px;
}

.listdays{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-right: solid 1.7px rgb(216, 216, 216);
    margin-top: 10px;
    width: 20%;
    height: 280px;
    display: inline-block; 
}

.listdays .day {
    display: block;
    color: #454545;
    font-size: 18px;
    margin-bottom: 5px;
}

.listdays .date {
    display: block;
    color: #454545;
    font-size: 12px;
    margin-bottom: 5px;
}

.weather-icon-5days .days-icon  {   
    width: 70px;
}

.listdays .title {
    display: block;
    color: #454545;
    font-size: 15px;
    min-height: 34px;
    margin-bottom: 7px; 
}

.temp .temp-min {
    color: #7b8f9e;
    display: inline;
    font-size: 22px;
}

.temp .temp-max {
    color: #ff8835;
    display: inline;
    font-size: 22px;
}

.listdays .wind {
    display: block;
    color: #454545;
    font-size: 20px;
    font-weight: bold;
}

#day32{
    border-right: none;
}


/*------------- Cameras ----------------*/
.side{
    margin-bottom: 30px;
    width:100%;
}

.new-title{
    color: rgb(112, 109, 109);
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
}

#wrap{
    background: #fff;
}

.video{
    display: inline-block;
    padding-right: 10px;
    padding-left: 20px;
}

.heading{
    color: rgb(63, 62, 62);
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
}

